<div class="content_no_sidebar">
  <div class="title">
    <h1>Applications to <%= @job.title %></h1>  
  </div>
  <div class="main">
    <% if @applications.empty? %>
      <p>No active applications</p>
    <% else %>
      <ul>
        <% @applications.each do |application| %>
          <li><%= link_to "#{application.user.email}", user_path(application.user), method: :get %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
