<div class="content">
  <% if !@job.nil? %>
    <h1>Applications to <%= @job.title %></h1>  
  <% else %>
    <h1>Your applications</h1>
  <% end %>
  <ul>
    <% @applications.each do |application| %>
      <% if !@job.nil? %>
        <li><%= link_to "#{application.user.email}", application_path(application), method: :get %></li>
      <% else %>
        <li><%= link_to "#{application.job.title}", application_path(application), method: :get %></li>
      <% end %>
    <% end %>
  </ul>
</div>
