<div class="content">
  <h1><%= @applicant.email %>'s application to <%= @job.title %></h1>
  <p>Status: <%= @application.status %></p>
  <p><%= link_to "View all applications to #{@job.title}", applications_path(job_id: @job.id), method: :get %></p>
</div>
