<h1>Home</h1>
<table>
  <tr>
    <th>Job title</th>
    <th>Experience level</th>
    <th>Deadline</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>  
      <td><%= job.title %></td>
      <td><%= job.experience %></td>
      <td><%= job.deadline %></td>
    </tr>
  <% end %>
</table>
