<div class="roles">
  <a href="signup-applicant">
    <div class="role">
      <div class="icon">
        <i class="fa fa-user"></i>
      </div>
      <div class="description">
        Applicant
      </div>
    </div>
  </a>
  <a href="signup-employer">
    <div class="role">
      <div class="icon">
        <i class="fa fa-building-o"></i>
      </div>
      <div class="description">
        Employer
      </div>
    </div>
  </a>
</div>
