<div class="settings">
  <div class="option-settings">
    <%= render partial: "option_settings_form", locals: {model: Experience} %>
  </div>
  <div class="option-settings">
    <%= render partial: "option_settings_form", locals: {model: Term} %>
  </div>
</div>
