<div class="content_no_sidebar">
  <div class="title">
    <h1>Your applications</h1>
  </div>
  <div class="main">
    <% if @applications.empty? %>
      <p>No active applications</p>
    <% else %>
      <ul>
        <% @applications.each do |application| %>
          <li><%= link_to "#{application.job.title}", job_path(application.job), method: :get %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
